@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a29bfc;
  --background: #a29bfc;
  --lightbg: #8ac5fe;
  --card: #8ac5fe;
  --btnbg: #a29bfc;
  --yellow: #fff8b0;
  --purple: #d6d6ff;
  --pink: #f9e0ea;

}


