@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a29bfc;
  --background: #145183;
  --lightbg: #145183;
  --card: #145183;
  --btnbg: #145183;
  --yellow: #F9ED69;
  --purple: #B1B2FF;
  --pink: #F2BED1;

}


